.populaton-category-select-container {
  padding-left: 20px;
}

.population-category-select-title {
  margin-bottom: 15px;
}

.population-category-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.population-category-item {
  display: flex;
  align-items: center;
}

.population-category-item input {
  display: none;
}

.population-category-item label {
  color: #333;
  font-size: 0.85rem;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.population-category-item input:checked + label {
  color: #fff;
  background: rgb(11, 11, 11);
  border: 1px solid rgb(78, 75, 75);
}

@media screen and (max-width: 768px) {
  .population-category-item label {
    padding: 5px 10px;
  }
}

@media (hover: hover) {
  .population-category-item label:hover {
    transform: scale(1.1);
  }
}
