.prefecture-select-container {
  padding-left: 20px;
}

.prefecture-select-title {
  margin-bottom: 15px;
}

.prefecture-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prefecture-item {
  display: flex;
  align-items: center;
}

.prefecture-item input {
  display: none;
}

.prefecture-item label {
  color: #333;
  font-size: 0.85rem;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 5px 20px;
}

.prefecture-item input:checked + label {
  color: #fff;
  background: rgb(11, 11, 11);
  border: 1px solid rgb(78, 75, 75);
}
